.header {
    position: absolute;
    top: 5vh;
    width: 100vw;
    height: 50vh;
    left: 0px;
    background: #FFF1F1;
}

.homeminji {
    position: absolute;
    width: 77px;
    height: 38px;
    left: calc(50% - 77px/2 - 0.5px);
    top: 96px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;

    color: #000000;

}

.homeabout {
    position: absolute;
    width: 103px;
    height: 35px;
    left: 194px;
    top: 89px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;

    opacity: 0.25;
}

.homeservice {
    position: absolute;
    width: 126px;
    height: 35px;
    left: 333px;
    top: 89px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;

    opacity: 0.25;
}

.homework {
    position: absolute;
    width: 126px;
    height: 35px;
    left: 495px;
    top: 89px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;

    opacity: 0.25;
}

.homeshop {
    position: absolute;
    width: 103px;
    height: 35px;
    left: 1349px;
    top: 96px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;

    opacity: 0.25;
}

.homeslog {
    position: absolute;
    width: 81px;
    height: 28px;
    left: 1488px;
    top: 96px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;

    opacity: 0.25;
}

.homecontact {
    position: absolute;
    width: 126px;
    height: 35px;
    left: 1605px;
    top: 96px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;

    opacity: 0.25;
}

.welcome {
    position: absolute;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    top: 230px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 28px;
    text-align: center;
}

.content {
    position: absolute;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    top: 310px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 33px;
    text-align: center;

}

.text {
    position: absolute;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    top: 370px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
}

.text1 {
    position: absolute;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    top: 400px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
}

.content_1 {
    position: absolute;
    width: 101px;
    height: 21px;
    left: calc(50% - 101px/2 - 616.5px);
    top: 906px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.text1_1 {
    position: absolute;
    width: 500px;
    height: 29px;
    left: calc(50% - 500px/2 - 417px);
    top: 953px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
}

.text1_2 {
    position: absolute;
    width: 707px;
    height: 23px;
    left: calc(50% - 707px/2 - 313.5px);
    top: 1003px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}

.text1_3 {
    position: absolute;
    width: 707px;
    height: 23px;
    left: calc(50% - 707px/2 - 313.5px);
    top: 1029px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}

.text1_4 {
    position: absolute;
    width: 707px;
    height: 23px;
    left: calc(50% - 707px/2 - 313.5px);
    top: 1052px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}

.text1_5 {
    position: absolute;
    width: 707px;
    height: 23px;
    left: calc(50% - 707px/2 - 313.5px);
    top: 1078px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}

.picture1 {
    position: absolute;
    width: 667px;
    height: 1000px;
    left: 1000px;
    top: 831px;

    background: #D9D9D9;
}

.content_2 {
    position: absolute;
    width: 101px;
    height: 21px;
    left: calc(50% - 101px/2 + 90.5px);
    top: 2139px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.text2_1 {
    position: absolute;
    width: 500px;
    height: 29px;
    left: calc(50% - 500px/2 + 290px);
    top: 2186px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
}

.text2_2 {
    position: absolute;
    width: 707px;
    height: 23px;
    left: calc(50% - 707px/2 + 393.5px);
    top: 2236px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}

.text2_3 {
    position: absolute;
    width: 707px;
    height: 23px;
    left: calc(50% - 707px/2 + 393.5px);
    top: 2262px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}

.text2_4 {
    position: absolute;
    width: 707px;
    height: 23px;
    left: calc(50% - 707px/2 + 393.5px);
    top: 2285px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}

.text2_5 {
    position: absolute;
    width: 707px;
    height: 23px;
    left: calc(50% - 707px/2 + 393.5px);
    top: 2311px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}

.picture2 {
    position: absolute;
    width: 667px;
    height: 1000px;
    left: 253px;
    top: 1334px;

    background: #D9D9D9;
}

.homeline {
    position: absolute;
    width: 100vw;
    height: 25vh;
    left: 0px;
    top: 2544px;

    background: #D9D9D9;
}

.content_3 {
    position: absolute;
    width: 101px;
    height: 21px;
    left: calc(50% - 101px/2 - 484.5px);
    top: 3347px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.text3 {
    position: absolute;
    width: 500px;
    height: 126px;
    left: calc(50% - 500px/2 - 285px);
    top: 3403px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
}

.readmorebox {
    box-sizing: border-box;
    position: absolute;
    width: 115px;
    height: 32px;
    left: calc(50% - 500px/2 - 285px);
    top: 3560px;

    background: #FFFEFE;
    border: 1px solid #9D9D9D;
}

.readmore {
    position: absolute;
    top: 0.5vh;
    left: 0.8vw;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
}

.picture3 {
    position: absolute;
    width: 667px;
    height: 667px;
    left: 1000px;
    top: 3104px;

    background: #D9D9D9;
}

.text4 {
    position: absolute;
    width: 500px;
    height: 29px;
    left: calc(50% - 500px/2 - 560px);
    top: 3899px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;

    color: #000000;
}

.picture4_1 {
    position: absolute;
    width: 330px;
    height: 330px;
    left: 150px;
    top: 3960px;

    background: #D9D9D9;
}

.picture4_2 {
    position: absolute;
    width: 330px;
    height: 330px;
    left: 580px;
    top: 3960px;

    background: #D9D9D9;
}

.picture4_3 {
    position: absolute;
    width: 330px;
    height: 330px;
    left: 1010px;
    top: 3960px;

    background: #D9D9D9;
}

.picture4_4 {
    position: absolute;
    width: 330px;
    height: 330px;
    left: 1440px;
    top: 3960px;

    background: #D9D9D9;
}

.footer {
    position: absolute;
    width: 100vw;
    height: 20vh;
    left: 0px;
    top: 4400px;

    background: #D9D9D9;
}